<%= form_with model: @movie, local: true do |f| %>
  <p>
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :category, "Categoria" %><br>
    <%= f.select :category, ["Ação", "Drama", "Comédia", "Terror", "Ficção", "Romance"], prompt: "Selecione a categoria", required: true %>
  </p>

  <p>
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
